<div class="cont-border">
  <div class="container">
    <div class="row move-name">
      <div class="col-xs-12 offset-lg-1">
        <h1 class="text-center">{{ danceMove.name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-4 offset-lg-1">
        <p class="par">
          <b>Required Skills</b>
        </p>
        <ul class="list-group">
          <li
            *ngFor="let requiredSkill of danceMove.requiredSkills"
            class="indent"
          >
            {{ requiredSkill.name }}
          </li>
        </ul>
        <p class="par">
          <b>Description</b>
        </p>
        {{ danceMove.description }}
      </div>
      <br />
      <div class="col-xs-12 col-lg-5 offset-lg-1">
        <div class="dropdown text-center" appDropdown #r="appDropdown">
          <button class="btn btn-green dropdown-toggle mt-3 mb-1" type="button">
            Options<span class="caret"></span>
          </button>
          <div class="dropdown-menu" [ngClass]="{ show: r.isOpen }">
            <a
              class="dropdown-item dropdown-i-style"
              (click)="onEditDanceMove()"
              >Edit</a
            >
            <a
              class="dropdown-item dropdown-i-style"
              (click)="onDeleteDanceMove()"
              >Delete</a
            >
          </div>
        </div>
        <img
          [src]="danceMove.imageVideoPath"
          alt="{{ danceMove.name }}"
          class="img-responsive details-img mx-auto"
        />
      </div>
    </div>
    <br />
  </div>
</div>
