<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img
            [src]="danceMove.imageVideoPath"
            alt="{{ danceMove.name }}"
            class="img-responsive"
            style="max-height: 350px; margin-top: 7%;">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ danceMove.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group">
                <button type="button"
                class="btn dropdown-toggle">
                Options<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Edit</a></li>
                <li><a href="#">Delete</a></li>
            </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs 12">
            {{ danceMove.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Required skills
        </div>
    </div>
</div>
