@import "src/app/styles/_variables.scss";

.btn-details {
  background-color: $green;
}

.dropdown-i-style {
  color: black;
  &:hover {
    background-color: $green;
    color: #ffffff;
    cursor: pointer;
  }
}

.move-description {
  margin-top: 7%;
}

.move-name {
  margin-bottom: 5%;
}
