<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img
            [src]="danceMove.imageVideoPath"
            alt="{{ danceMove.name }}"
            class="img-responsive"
            style="max-height: 350px; margin-top: 7%;">
        </div>
    </div>
    <div class="row move-name">
        <div class="col-xs-12">
            <h1>{{ danceMove.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group"
            appDropdown #r="appDropdown">
                <button type="button"
                class="btn dropdown-toggle btn-details">
                Options<span class="caret"></span>
            </button>
            <ul class="dropdown-menu"
                [ngClass]="{'show':r.isOpen}">
                <li class="dropdown-i">
                    <a 
                    class="dropdown-link">
                    Edit</a></li>
                <li class="dropdown-i">
                    <a 
                    class="dropdown-link">
                    Delete</a></li>
            </ul>
            </div>
        </div>
    </div>
    <div class="row move-description">
        <div class="col-xs 12">
            {{ danceMove.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12"
            style="margin-bottom: 7%;">
            Required skills
        </div>
    </div>
</div>
