$green: #4ed897;
$lightGreen: #cae7df;
$pink: #f4abaa;
$red: #ee7879;
$purple: #2a3166;
$darkPurple: #3f488f3d;
$lightPurple: #7482ec;
$gray: #adb5bd;
$lightGray: #cad0d6;
$darkGray: #0c0c0cbd;
$darkGrayTrans: #2727276e;

$main-font: "Varela Round", sans-serif;
