<nav class="navbar navbar-expand-md navbar-dark navbar-style">
  <a class="navbar-brand app-logo">
    Dance Moves App
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item header-link active" routerLinkActive="active-element">
        <a
          class="nav-link"
          routerLink="/dance-moves"
          *ngIf="isAuthenticated"
        ></a>
      </li>
      <li class="nav-item header-link active" routerLinkActive="active-element">
        <a class="nav-link" routerLink="/auth" *ngIf="!isAuthenticated"></a>
      </li>
    </ul>
    <span class="navbar-text">
      <div appDropdown #r="appDropdown" *ngIf="isAuthenticated">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown dropdown-name">
            <a class="nav-link dropdown-toggle dropdown-link" role="button">
              Manage
            </a>
            <div class="dropdown-menu" [ngClass]="{ show: r.isOpen }">
              <a class="dropdown-item dropdown-i-style" (click)="onSaveData()">
                Save Data
              </a>
              <a class="dropdown-item dropdown-i-style" (click)="onFetchData()">
                Fetch Data
              </a>
              <a class="dropdown-item dropdown-i-style">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </span>
  </div>
</nav>
