@import "src/app/styles/variables.scss";

.navbar-style {
    background-color: $purple;
    padding: 1%;
    .app-logo {
        color: rgb(78, 216, 151);
        font-size: 35px;
        font-family: 'Fredoka One', cursive;
        margin-right: 2%;
    }
    .link-style {
        color: $pink;
        font-size: 18px;
        margin-right: 10%;
    }
    .navbar-search {
        @media (max-width: 991px) {
            text-align: right;
            margin: 0px;
        }
    }
    .search-form {
        @media (max-width: 991px) {
            float: right;
            align-items: flex-end;
            margin: 0px;
        }
    }
}

.btn-header {
    color: $pink;
    border-color: $pink;
    &:hover {
        color: $purple;
        background-color: $pink;
        border-color: $pink;
    }
}
