@import "src/app/styles/_variables.scss";
@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss";

.navbar-style {
    background-color: $purple;
    padding: 1%;
    .app-logo {
        color: $green;
        font-size: 35px;
        font-family: 'Fredoka One', cursive;
        margin-right: 2%;
    }
    @include media-breakpoint-down(md) {
        .app-logo {
            font-size: 26px;
        }
    }
    .link-style {
        color: $pink;
        font-size: 18px;
        margin-right: 10%;
    }
    .dropdown-i-style:hover {
        background-color: $green;
        color: #ffffff;
    }
    .btn-header {
        color: $pink;
        border-color: $pink;
        &:hover {
            color: $purple;
            background-color: $pink;
            border-color: $pink;
        }
    }
}


