<nav class="navbar navbar-dark navbar-style">
  <a class="navbar-brand app-logo" href="#">
    Dance Moves App
  </a>
  <div
    class="app-dropdown"
    appDropdown
    #r="appDropdown"
    *ngIf="isAuthenticated"
  >
    <li class="nav-item dropdown dropdown-name">
      <a class="nav-link dropdown-toggle dropdown-link" role="button"> </a>
    </li>
    <div
      class="dropdown-menu-right dropdown-menu"
      [ngClass]="{ show: r.isOpen }"
    >
      <a class="dropdown-item dropdown-i-style" (click)="onSaveData()">
        Save Data
      </a>
      <a class="dropdown-item dropdown-i-style" (click)="onLogout()">Logout</a>
    </div>
  </div>
</nav>
