@import "src/app/styles/_variables.scss";
@import "node_modules/bootstrap/scss/_functions.scss";
@import "node_modules/bootstrap/scss/_variables.scss";
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss";

.navbar-style {
  background-color: $purple;
  padding: 0.5%;
  justify-content: space-between;
  .app-logo {
    color: $green;
    font-size: 30px;
    font-family: "Fredoka One", cursive;
    margin-left: 1%;
  }
  @include media-breakpoint-down(md) {
    .app-logo {
      font-size: 20px;
    }
  }
  .dropdown-name {
    margin-left: -25%;
    list-style: none;
    border-radius: 5px;
    padding: 0 !important;
    .dropdown-link {
      color: $pink;
      font-size: 15px;
      cursor: pointer;
    }
  }

  .dropdown-i-style {
    color: black;
    &:hover {
      background-color: $green;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
