<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-new-move"
            style="margin-top: 15%;">
            New Move
            </button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-dance-move-item 
            *ngFor="let danceMoveEl of danceMoves"
            [danceMove]="danceMoveEl"
            (danceMoveClicked)="onDanceMoveClicked(danceMoveEl)">
            </app-dance-move-item>
        </div>
    </div>
</div>

