@import "src/app/styles/_variables.scss";

.app-body {
  min-height: calc(100vh - 30px);
}

hr {
  border: 0.3px solid $gray !important;
}

.app-footer {
  font-size: 10px;
  height: 30px;
  span {
    color: $gray;
  }
  .footer-link {
    color: $pink !important;
  }
}
