<div class="app-body">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<hr class="mx-4 mb-0" />
<div class="app-footer py-2 d-flex border-top mx-5 justify-content-between">
  <span class="text-center">
    Icons by
    <a href="https://icons8.com" target="_blank" class="footer-link"> Icons8</a
    >.
  </span>
  <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="customSwitch1" />
    <label class="custom-control-label" for="customSwitch1"></label>
  </div>
</div>
