@import "src/app/styles/variables.scss";

body {
  background-color: $blue;
  font-family: $main-font;
}

.btn-pink {
  color: $purple;
  background-color: $pink;
  border-color: $pink;
}

a {
  text-decoration: none !important;
  color: #000000;
  &:hover {
    color: #000000;
  }
}
